.body1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.body1-body1 {
  gap: 30px;
  width: 1113px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.body1-filtertype {
  gap: 97px;
  width: 1111px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.body1-frame71 {
  gap: 10px;
  width: 237px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
}
.body1-text {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame72 {
  gap: 10px;
  width: 72px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
}
.body1-text02 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame73 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
}
.body1-text04 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame74 {
  gap: 10px;
  width: 83px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
}
.body1-text06 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame92 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.body1-frame87 {
  gap: 225px;
  display: flex;
  align-items: flex-end;
}
.body1-frame86 {
  gap: 97px;
  display: flex;
  align-items: flex-end;
}
.body1-frame79 {
  display: flex;
  align-items: flex-end;
}
.body1-image11 {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.body1-frame78 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.body1-frame75 {
  gap: 10px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
}
.body1-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.body1-equalizer {
  width: 155px;
  height: 30px;
}
.body1-frame85 {
  gap: 97px;
  display: flex;
  align-items: flex-start;
}
.body1-frame77 {
  display: flex;
  align-items: center;
}
.body1-equalizer01 {
  width: 20px;
  height: 19px;
}
.body1-frame76 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.body1-text10 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame7601 {
  gap: 10px;
  width: 117px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
}
.body1-text12 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame80 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.body1-text14 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame83 {
  display: flex;
  align-items: flex-start;
}
.body1-frame81 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.body1-star01 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.body1-star0101 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.body1-frame82 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.body1-download01 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.body1-download0101 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.body1-frame88 {
  gap: 225px;
  display: flex;
  align-items: flex-end;
}
.body1-frame861 {
  gap: 97px;
  display: flex;
  align-items: flex-end;
}
.body1-frame791 {
  display: flex;
  align-items: flex-end;
}
.body1-image111 {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.body1-frame781 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.body1-frame751 {
  gap: 10px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
}
.body1-text16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.body1-equalizer02 {
  width: 155px;
  height: 30px;
}
.body1-frame851 {
  gap: 97px;
  display: flex;
  align-items: flex-start;
}
.body1-frame771 {
  display: flex;
  align-items: center;
}
.body1-equalizer03 {
  width: 20px;
  height: 19px;
}
.body1-frame7602 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.body1-text18 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame7603 {
  gap: 10px;
  width: 117px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
}
.body1-text20 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame801 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.body1-text22 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame831 {
  display: flex;
  align-items: flex-start;
}
.body1-frame811 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.body1-star0102 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.body1-star0103 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.body1-frame821 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.body1-download0102 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.body1-download0103 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.body1-frame89 {
  gap: 225px;
  display: flex;
  align-items: flex-end;
}
.body1-frame862 {
  gap: 97px;
  display: flex;
  align-items: flex-end;
}
.body1-frame792 {
  display: flex;
  align-items: flex-end;
}
.body1-image112 {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.body1-frame782 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.body1-frame752 {
  gap: 10px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
}
.body1-text24 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.body1-equalizer04 {
  width: 155px;
  height: 30px;
}
.body1-frame852 {
  gap: 97px;
  display: flex;
  align-items: flex-start;
}
.body1-frame772 {
  display: flex;
  align-items: center;
}
.body1-equalizer05 {
  width: 20px;
  height: 19px;
}
.body1-frame7604 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.body1-text26 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame7605 {
  gap: 10px;
  width: 117px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
}
.body1-text28 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame802 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.body1-text30 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame832 {
  display: flex;
  align-items: flex-start;
}
.body1-frame812 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.body1-star0104 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.body1-star0105 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.body1-frame822 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.body1-download0104 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.body1-download0105 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.body1-frame90 {
  gap: 225px;
  display: flex;
  align-items: flex-end;
}
.body1-frame863 {
  gap: 97px;
  display: flex;
  align-items: flex-end;
}
.body1-frame793 {
  display: flex;
  align-items: flex-end;
}
.body1-image113 {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.body1-frame783 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.body1-frame753 {
  gap: 10px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
}
.body1-text32 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.body1-equalizer06 {
  width: 155px;
  height: 30px;
}
.body1-frame853 {
  gap: 97px;
  display: flex;
  align-items: flex-start;
}
.body1-frame773 {
  display: flex;
  align-items: center;
}
.body1-equalizer07 {
  width: 20px;
  height: 19px;
}
.body1-frame7606 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.body1-text34 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame7607 {
  gap: 10px;
  width: 117px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
}
.body1-text36 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame803 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.body1-text38 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame833 {
  display: flex;
  align-items: flex-start;
}
.body1-frame813 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.body1-star0106 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.body1-star0107 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.body1-frame823 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.body1-download0106 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.body1-download0107 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.body1-frame91 {
  gap: 225px;
  display: flex;
  align-items: flex-end;
}
.body1-frame864 {
  gap: 97px;
  display: flex;
  align-items: flex-end;
}
.body1-frame794 {
  display: flex;
  align-items: flex-end;
}
.body1-image114 {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.body1-frame784 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.body1-frame754 {
  gap: 10px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
}
.body1-text40 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.body1-equalizer08 {
  width: 155px;
  height: 30px;
}
.body1-frame854 {
  gap: 97px;
  display: flex;
  align-items: flex-start;
}
.body1-frame774 {
  display: flex;
  align-items: center;
}
.body1-equalizer09 {
  width: 20px;
  height: 19px;
}
.body1-frame7608 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.body1-text42 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame7609 {
  gap: 10px;
  width: 117px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
}
.body1-text44 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame804 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.body1-text46 {
  color: var(--dl-color-color_accent_black-200);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body1-frame834 {
  display: flex;
  align-items: flex-start;
}
.body1-frame814 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.body1-star0108 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.body1-star0109 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.body1-frame824 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.body1-download0108 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.body1-download0109 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
