
.txt {

    /* Auto layout */
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    /* width: 70 px; */
    height: 18px;
    
    font-family: 'Montserrat' -apple-system, Roboto, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    
    color: #FFFFFF;
    color: color(display-p3 1.000 1.000 1.000);
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
    }
      
    .bold {
    font-weight: 600; /* Полужирный (semibold) */
    }
    
    .regular {
    font-weight: 400; /* Обычный (regular) */
    }
    
    .img{
        width: 34px;
        height: 34px;
        display: flex;
        border-radius: 10px;
        padding: 5px;
        background-color: #6e6e6e
    }
    
    .new-block{
        /* border-radius: 1vw; */
        justify-content: center;
    
    }
    
    .left-selection {
        flex: 1;
        align-items: center;
        text-align: left;
        justify-content: center;
        max-width: 250px;
    }
    
    .block2{
        /* justify-content: center;
        align-items: center; */
        text-align: center;
    }
    
    .right-selection {
        flex: 2;
        width: 100%;
        padding: 10px;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        justify-content: center;
        /* align-items: center; */
    }
    
    .but{
        display: flex;
        margin: 5px 10px;
        border-radius:10px;
        padding: 10px;
        height: 60px;
        width: 250px;
        text-align: left;
        align-items: center;
        justify-content: left;
    }
    
    .but:hover {
        background: linear-gradient(#5d5d64, #3e3e40);
      }
      
    .new-block {
        display: flex;
    }
    
    .large-image {
        border-radius: 10px;
        width: 30vw;
        max-width: 30vw;
        height: 30vw;
        flex: 2;
        background-color: #ccc; /* Placeholder color */
    }
    
    .small-images {
        justify-content: space-between;
        align-items: space-between;
        text-align: space-between;
        flex: 0;
        display: flex;
        margin: 5px 0px 0px 10px;
        flex-direction: column;
    }
    
    .small-image {
        border-radius: 10px;
        width: 15vw;
        height: 15vw;
        flex: 1;
        background-color: #ddd; /* Placeholder color */
        margin-bottom: 5px;
    }
    
    .trend-block {
        display: flex;
        flex-direction: row;
    }
    
    .kit, .sample {
        flex: 1;
    }
    
    @media screen and (max-width: 480px) {
        .mainpage {
            flex-direction: column;
        }
    
        .new-block{
            text-align: center;
        }
    
        .large-image {
            min-width: 40vw;
            max-width: 40vw;
            min-height: 40vw;
            max-height: 40vw;
        }
    
        .small-image {
            width: 20vw;
            height: 20vw;
        }
    
        .left-selection {
            order: -1;
            width: 100%;
        }
    }
    
    .container-text {
        color: rgba(255, 255, 255, 1);
        height: auto;
        font-size: 20px;
        font-style: Medium;
        text-align: left;
        font-family: Montserrat;
        font-weight: 500;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
      }