.body-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.body-body {
  gap: 16px;
  width: 973px;
  height: auto;
  display: flex;
  align-items: flex-end;
}
.body-frame34 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.body-title3text {
  width: 407px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.body-frame25 {
  gap: 10px;
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
}
.body-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body-logo {
  display: flex;
  align-items: center;
}
.body-logotext {
  gap: 10px;
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: flex-start;
}
.body-text02 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 15px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body-text03 {
  font-weight: 600;
}
.body-frame24 {
  gap: 10px;
  width: 689px;
  height: 146px;
  display: flex;
  padding: 20px 10px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-grow: 1;

  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  resize: none; 
  color: white;
  background-color: var(--app-background-color);
}

.body-text05 {
  color: var(--dl-color-color_accent_black-400);
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body-frame33 {
  gap: 26px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.body-frame32 {
  gap: 11px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.body-frame30 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.body-text07 {
  gap: 10px;
  width: 125px;
  height: 38px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.body-text08 {
  color: var(--dl-color-color_accent_black-400);
  height: auto;
  flex-grow: 1;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body-text13 {
  gap: 10px;
  width: 127px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.body-text14 {
  color: var(--dl-color-color_accent_black-400);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body-frame31 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.body-dropdowntrack {
  gap: 10px;
  width: 125px;
  height: 60px;
  display: flex;
  padding: 20px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: center;
}
.body-text16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body-chevron {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.body-chevrondown {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.body-frame29 {
  width: 125px;
  height: 60px;
  display: flex;
  padding: 20px 10px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: center;
}
.body-frame26 {
  gap: 10px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}
.body-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body-frame28 {
  gap: 10px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}
.body-text20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body-frame27 {
  gap: 10px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}
.body-text21 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body-frame251 {
  gap: 10px;
  width: 267px;
  height: 60px;
  display: flex;
  padding: 20px 10px;
  background: linear-gradient(180deg, rgba(240, 34, 34, 1) 0%, rgba(135, 20, 20, 1) 100%);
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
}
.body-text23 {
  color: var(--dl-color-color_base-white);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
