<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    </head>

<header class="header">
    <div class="logo">
        <div class="vector-logo">
            <img
            loading="lazy"
            src="./img/logo.png"
            class="logo-img"
            alt="Sample Vault logo"
        />
        </div>
        <h1 class="title">
            <p class="text-title"><span class="bold">Sample</span><span class="regular">Vault</span></p>
        </h1> 
    </div>

    <nav class="nav">
        <div class="search-container">
            <!-- <div class="textfield"> -->
                <input type="text" placeholder="Search...">
            <!-- </div> -->
        </div>
        <img
        loading="lazy"
        src="./img/user_profile.png"
        class="profile-image"
        alt="User profile"
        />
    </nav>
</header>
      
      
<body>
    <!-- Ваш контент здесь -->
    <h1>Hello, World!</h1>
    
    <!-- Ваши скрипты JavaScript могут быть подключены здесь -->
    <script src="scripts.js"></script>
</body>
</html>
